:root {
  --primary-color: #c72727;
  --secondary-color: #f99500;
  --light-color: #f3f3f3;
  --dark-color: #333;
  --max-width: 1100px;
}

.category {
  --sports-color: #f99500;
  --ent-color: #a66bbe;
  --tech-color: #009cff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.5;
  background-color: var(--light-color);
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.f40 {
  font-size: 40px;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 2rem;

  /* overflow: hidden; */
}

.category {
  display: inline-block;
  color: #fff;
  font-size: 0.55rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
}

.category-sports {
  background-color: var(--sports-color);
}
.category-ent {
  background-color: var(--ent-color);
}
.category-tech {
  background-color: var(--tech-color);
}

.btn {
  display: inline-block;
  cursor: pointer;
  background-color: var(--dark-color);
  color: #fff;
  padding: 0.5rem 1.5rem;
  border: none;
  text-align: center;
}

.btn:hover {
  opacity: 0.7;
}

.btn-light {
  background-color: var(--light-color);
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-dark {
  background-color: var(--dark-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

.card {
  background-color: #fff;
  padding: 1rem;
}

.bg-dark {
  background-color: var(--dark-color);
  color: #fff;
}

.bg-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.bg-secondary {
  background-color: var(--secondary-color);
  color: #fff;
}

.bg-dark a,
.bg-primary a,
.bg-secondary a {
  color: #fff;
}

/* Navigation bar */
#main-nav {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
}

#main-nav .container {
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  align-items: center;
  justify-items: center;
  padding: 1rem;
}

#main-nav .logo {
  width: 180px;
  justify-self: start;
}

#main-nav #page-nav {
  justify-self: end;
}

#main-nav #page-nav a {
  display: inline-block;
  padding: 0.75rem;
  font-weight: bold;
}

#main-nav #page-nav a:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
}

#main-nav #page-nav .current {
  background-color: var(--primary-color);
  color: #fff;
}

#main-nav .social i {
  color: #777;
  margin-right: 0.5rem;
}

#main-nav .social a:hover i {
  color: var(--dark-color);
}

/* Showcase */
#showcase {
  position: relative;
  background-color: var(--dark-color);
  color: #fff;
}

#showcase .container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#showcase::before {
  content: "";
  background: url("../img/featured.jpg") no-repeat center center/cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0.4;
}

#showcase .container * {
  z-index: 1;
}

#showcase .container p {
  margin-bottom: 1.4rem;
  line-height: 1.6;
}

/* Articles */
#articles .articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

#articles .articles-container > article:first-child,
#articles .articles-container > article:last-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 1 / span 2;
  gap: 0.5rem;
  align-items: center;
}

#articles .articles-container > article:last-child {
  grid-column: 2 / span 2;
}

#articles .container > h2 {
  margin-top: 15px;
}

/* Footer */
#main-footer {
  background-color: var(--dark-color);
}

#main-footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

#main-footer .container > div {
  padding: 1rem 0;
  color: #fff;
}

#main-footer .container > div:first-child > img {
  width: 150px;
}

#main-footer .container > div:nth-child(2) input[type="email"],
#main-footer .container > div:nth-child(2) input[type="submit"] {
  width: 90%;
  padding: 0.5rem;
  margin: 0.3rem 0;
}

#main-footer .container > div:nth-child(3) li {
  border-bottom: 1px dotted #fff;
  padding: 0.3rem 0;
  margin: 0.3rem 0;
  width: 90%;
}

#main-footer .container > div:nth-child(3) a {
  color: #fff;
}

#main-footer .container > div:nth-child(3) a:hover {
  color: var(--primary-color);
}

#main-footer .container > div:nth-child(4) a {
  margin-top: 0.3rem;
}

#main-footer .container > div:last-child {
  grid-column: 1 / span 4;
  text-align: center;
  background-color: #444;
}

/* About */
#about {
  margin: 1rem;
}

#about .container {
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: 1rem;
}

#about .container > article {
  grid-row: 1 / span 3;
}

#about .container > aside > a {
  margin-top: 0.5rem;
}

/* Article page */
#article {
  margin: 1rem;
}

#categories {
  background-color: #fff;
}

#article .container {
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: 1rem;
}

#article .container > article {
  grid-row: 1 / span 3;
}

#article #categories {
  padding: 0.4rem;
}

#article #categories li {
  border-bottom: 1px dotted #666;
  margin: 0.3rem;
  width: 90%;
}

#article #categories li a:hover {
  color: var(--primary-color);
}

#article .meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f4f4;
  padding: 0.4rem;
}

#article .container > *:last-child > p {
  margin-bottom: 0.5rem;
}
